.index {
    padding: 40px 20px;
    background-color: #fff;
    box-shadow: 0 0 5px $secondary-color;

    &__title {
        font-weight: 500;
        font-size: 3rem;
        text-align: center;

        &::after {
            content: ' ';
            display: block;
            height: 1px;
            width: 80%;
            background-color: #333;
            margin: 20px auto;
        }
    }
}