<section class="index">
    <h2 class="index__title">Les trois derniers articles</h2>
    <div class="flex">
        <div class="flex__item" *ngFor="let post of posts">
            <article class="article">
                <header>
                    <p class="text-muted">{{ post.category.name }}</p>
                    <h3 class="article__title">{{ post.title }}</h3>
                </header>
                <p>{{ post.excerpt }}</p>
                <footer>
                    <button class="btn-default" (click)="onRedirect(post.id)">Voir l'article</button>
                </footer>
            </article>
        </div>   
    </div>
    <div class="flex flex__equal">
        <article>
            <h3 class="text-center">Rechercher un article</h3>
            <form action="" method="get">
                <div class="form__group">
                    <input 
                        type="text" 
                        name="search" 
                        id="search" 
                        class="form__input" 
                        [formControl]="search" 
                        placeholder="rechercher un article..."
                    />
                    <div *ngIf="search.invalid" class="form__help">
                        La recherche doit faire au moins 3 caractères
                    </div>
                </div>
                <button class="btn-secondary" (click)="onSubmit($event)">Envoyer</button>
            </form>
        </article>
        <article>
            <h3 class="text-center">Catégories</h3>
            <ul>
                <li *ngFor="let category of categories">
                    <a [routerLink]="['/category', category.id]">{{ category.name }}</a>
                </li>
            </ul>
        </article>
    </div>
</section>
